In [ ]:
#Function for String Skyline Function - 

def myfunc(a):
    b=""
    for i in range(len(a)):
        if i%2==0:
            b=b+a[i].upper()
        else:
            b=b+a[i]
    return b



myfunc('anything')

#### PROBLEM : LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
myfunc(2,4)

In [ ]:
myfunc(2,13)

### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def word_fn(a):
    word_list=a.split()
    for i in range(len(word_list)):
        if word_list[0][0]==word_list[1][0]:
            return True
        else :
            return False

In [ ]:
word_fn('Levelheaded Llama')

In [ ]:
word_fn('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(a,b):
    if (a+b)==20 or a==20 or b==20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

In [ ]:
makes_twenty(12,8)

In [ ]:
makes_twenty(2,3)

# LEVEL 1 PROBLEMS


#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def f1(name):
    name=name.capitalize()
    b=''
    for i in range(len(name)):
        if i==3:
            temp=name[i].upper()
            b=b+temp
        else:
            temp=name[i]
            b=b+temp
    return b

In [ ]:
f1('macdonald')

In [ ]:
f1('macveg')

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def f1(a):
    b=a.split()
    b.reverse()
    c=''
    for i in b:
        c=c+i+" "
    return c

In [ ]:
f1('We are ready')

In [ ]:
def f1(a):
    b=a.split()
    b.reverse()
    c=' '.join(b)
    return c

f1('I am really great')

In [ ]:
def f1(x):
    return (abs(x)<10) or abs(x)==100 or abs(x)==200

In [ ]:
f1(-200)

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def f1(a):
    for i in range(len(a)-1):
        if a[i]==a[i+1] or a[i]==a[i-1]:
            return True
            break
        else:
            return False
    
        
    #or a[i]==a[i-1]

In [ ]:
a=[3,1,3]
f1(a)

In [ ]:
def f1(a):
    for i in range(len(a)-1):
        if a[i]==3:
            if a[i+1]==3:
                return True
                break
            else:
                return False

In [ ]:
f1([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(a):
    b=''
    for i in a:
        
        b+=i+i+i
    return b

In [ ]:
paper_doll('Hello')
paper_doll('Mississippi')

In [ ]:
def blackjack(a,b,c):
    a1=[a,b,c]
    if sum(a1) <= 21:
        return sum(a1)
    elif sum(a1)>21:
        for i in a1:
            if i==11:
                return sum(a1)-10
        else:
            return 'Bust'

In [ ]:
blackjack(9,9,11)

In [ ]:
a=[1,2,3]
sum(a)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(a):
    s=0 
    b=[]
    c=[]
    
    for i in a:
        if i==6:
            b+=a[:i]
            print(b)
        elif i==9:
            c+=a[i:]
        return b+c    
        
       
        
            
            
  $$####################################################################3

In [ ]:
summer_69([4, 5, 6, 7, 8, 9,10])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [61]:
def spy_game(a):
    count1=-1
    count2=0
    for i in a:
        count1 +=1
        if i==0:
            for j in a[count1:]:
                count2+=1
                if j==0:
                    for k in a[count1+count2:]:
                        if k==7:
                            return True

In [62]:
spy_game([1,2,4,0,0,7,5])

True

In [63]:
spy_game([1,0,2,4,0,5,7])

True

In [64]:
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [44]:
def count_primes(a):
    b=[]
    for i in range(2,a+1):
        count=0
        for j in range(2,i):
            if i%j==0:
                count=1
                break
                          
        if count==0:        
            b.append(i)
    return len(b)

In [45]:
count_primes(100)

25